
body {font-family: Verdana;
    background-color: white;
    font-size: 15px;
    color: black;

}
#menu{
  clear: both;
  clear: bottom;
  list-style: none;
  font-weight: normal;
  margin-bottom: 10px;
  width: 100%;
  background-color: #268c56;
  font-family: verdana;
  text-align: center;
  }

ul {
  clear: both;
  clear: bottom;
  list-style-type: none;
  margin: 0px;
  padding: 0;
  font-family: verdana;
  overflow: hidden;
  background-color: #268c56;
  float: left;
  width: 100%;
}


#hi{font-family: verdana;
    font-size: 40px;
    color: verdana;
    text-align: center;
  }
#what{font-family: verdana;
    font-size: 30px;
    color: black;
    text-align: center;
    line-height: 1.8em;
    clear: bottom;
    padding: 35px;
    margin-top: 1px;
    }
#instructions{
    font-family: verdana;
    font-size: 20px;
    color: black;
    text-align: center;}

#deets{
  font-family: verdana;
  font-size: 25px;
  color: black;

}
#localdeets{
  font-family: verdana;
  font-size: 15px;
  color: black;


}

li {
    float: left;
}

li a {
    font-family: verdana;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #288362;
}

.active {
    background-color: #1E5943;}



.facebook {
    background: #3B5998;
    color: white;
    }


.google {
    background: #dd4b39;
    color: white;
    }


.content {
    margin-left: 75px;
    font-size: 30px;
    }
.map {
    height: 400px;
    width: 100%;
    font-family: verdana;
    font-weight: bold;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
        }
.social-footer {
    padding: 1rem;
    background: #268c56;
    display: -webkit-flex;
    font-family: verdana;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px, 0px, 10px, 0px;
    margin-top:40px
        }

.social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
    padding: 0px, 0px, 10px, 0px;
        }

.social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;

        }
.social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
  }
#deets{
  line-height: 1.8;

}
#localdeets{
  line-height: 1.8;
}
